.demo{
    background-color: blue;
}
/* min-width means if width is equal to 600 and greater than 600 then it will be turn out to brown */
/* @media (min-width:600px) {
    .demo{
        background-color: brown;
    }
} */

/* max-width means upto 400px it will be green */
/* @media (max-width:400px){
    .demo{
        background-color: green;
    }
}
 */
 

/* it means the width between 200-500px will be tomato color */
@media (min-width:200px) and (max-width:500px){
    .demo{
        background-color: tomato;
    }
}

 .box{
    background-color: yellowgreen;
    width: 30%; 
    height: 10%;
    display: inline;
}

nav {
    font-size: 20px;
    border: 1px solid black;
}

ul, li {
    display: inline;
    margin: 0;
    padding: 0;
}
ul {
    border: 2px solid red;
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}

@media (max-width:300px){
    nav, ul{
        flex-direction: column;
        align-items: center;
    }
}